:root{
    font-size: 13.33vw;
}

*{
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

body{
    width: 100%;
    background: #f9f9f9;
    font-size: 4.8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 4.8vw;
}

ul,ol,li{
    list-style: none;
}

a{
    text-decoration: none;
    display: block;
    color: #000;
}

img{
    border: none;
    display: block;
}


